* { 
   padding: 0; 
   margin: 0;
}

body { 
	background-color: #EBE7EE; 
	font-family: 'Open Sans', sans-serif;
	font-weight: Light 300; 
}

#particles-js{
	background-color: #551a8b;
	height: 92vh;
	width: 100%;

}

#welcome { 
	position: absolute;
	width: 100%; 
	font-size: 3em; 
	text-align: center;
	color: #EBE7EE; 
	top: 30%; 
}

nav { 
	width: 100%; 
	height: 7.5vh; 
	text-align: center;
}

nav div { 
	width: 20%; 
	float: left;
	background-color: #EBE7EE; 
	height: 100%; 
}

nav a, a:visited { 
	position: relative;
	top: 30%; 
	color: #551a8b;
	text-decoration: none;
	font-size: 1.2em; 
}

.pagebreak { 
	background-color: #551a8b; 
	height: 5px; 
}

#aboutus, #theteam, #meetings {  
	height: 100vh; 
}

.special { 
	position: relative;
	font-family: 'Pacifico', cursive;
	color: #551a8b; 
	float: right;
	right: 50px;
	font-size: 5em; 
	margin-top: 20px;  
}

#grouppic { 
	width: 500px; 
}

footer { 
	position: relative;
	bottom: 0px;
	width: 100%; 
	height: 20vh; 
	background-color: #551a8b; 
}

footer img { 
	position: relative;
	top: 25%; 
	height: 50%; 
	display: block;
	margin: 0 auto;
}